<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'icon/favicon.ico' %}">

    <title>
        {% block title %}{% endblock %}
    </title>

    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'bootstrap/examples/dashboard/dashboard.css' %}" rel="stylesheet">
    {% block head_link_block %}{% endblock %}

<script>
function myFunction(){
	alert("真的要离开吗？");
}
</script>
</head>
<body onunload="myFunction()">
     <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">DHL</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-header">
              <li><a href="">Chatbot</a> </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              {% if user.is_authenticated %}
                  <li><a>{{ user.username.capitalize }}</a> </li>
                <li><a href="{% url 'logout' %}">Logout</a> </li>
              {% else %}
                <li><a href="{% url 'login' %}">Login</a> </li>
              {% endif %}
              <li><a href="{% url 'about' %}">About</a> </li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="">Chatbot</a></li>
            </ul>
            <ul class="nav nav-sidebar">
                <li class="active"><a href="">Tagging</a> </li>
                <li><a href="{% url 'tag' %}">Tag</a> </li>
                <!--<li><a href="">Check</a> </li>-->
                {% block Check_block %}{% endblock %}
            </ul>
{#          <ul class="nav nav-sidebar">#}
{#            <li class="active"><a href="#">Overview <span class="sr-only">(current)</span></a></li>#}
{#            <li><a href="#">Reports</a></li>#}
{#            <li><a href="#">Analytics</a></li>#}
{#            <li><a href="#">Export</a></li>#}
{#          </ul>#}
{#          <ul class="nav nav-sidebar">#}
{#            <li><a href="">Nav item</a></li>#}
{#            <li><a href="">Nav item again</a></li>#}
{#            <li><a href="">One more nav</a></li>#}
{#            <li><a href="">Another nav item</a></li>#}
{#            <li><a href="">More navigation</a></li>#}
{#          </ul>#}
{#          <ul class="nav nav-sidebar">#}
{#            <li><a href="">Nav item again</a></li>#}
{#            <li><a href="">One more nav</a></li>#}
{#            <li><a href="">Another nav item</a></li>#}
{#          </ul>#}
            {% block side_block %}{% endblock %}
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block main_block %}{% endblock %}
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{% static 'js/ie10-viewport-bug-workaround.js' %}"></script>

    {% block body_script_block %}{% endblock %}

</body>
</html>