{% extends 'tagging/base.html' %}

{% load staticfiles %}

{% load static %}

{% block title %}
    标注系统
{% endblock %}

{% block head_css_links_block %}
		<link href="{% static 'css/style.css' %}" rel="stylesheet">
		<link href="{% static 'css/init.css' %}" rel="stylesheet">
{% endblock %}

{% block body_block %}
		<div class="ltp-wrapper">
			<div class="ltp-doc-header">
    			<div class="container" >
        			<h1>标注系统</h1>

        			<p class="lead">标注系统能为你做些什么</p>
    			</div>
			</div>
			<div class="container1" >
				<div class="span10"></div>
				<div class="tab-content" id="viewContent"></div>
				<div id="analysisPanel" >
					<div class="row-fluid keep-margin-top-20px">
						<div class="page-header" style="margin-left: 120px;font-size: 2.4em">
							<h1 style="display:inline-block;" class="local">当前模式:词性标注</h1>
							<li style="display:inline-block; margin-left: 8cm; ">
                                <a style="color: black;text-decoration: none"> 其它模式：</a>
{#								<a  href="{% url 'tag' %}">实体识别标注</a>#}
                                <a  href='/tagging/tag' >实体识别标注</a>
							</li>
						</div>
					</div>



					<div class="row-fluid">
						<div class="analysis-wrapper">
							<ul id="analysisContent"></ul>
						</div>
						<div id="label-explanation-response-btn" >点击修改词性</div>

						<!--<div id="label-explanation-check-btn" >点击进行检查</div>-->
					<!--	<div id="label-explanation-send-btn" >检查结果发送</div>-->
						<div id="label-explanation-panel-one" style="display: none">
							<div style="display: inline-block">
								<!--<div class="label-label-primary" id="LW" style="font-size: 2.4em;cursor: pointer" draggable="true">LW</div>-->
								<!--<div class="label-label-primary" id="MDW" style="font-size: 2.4em;cursor: pointer" draggable="true">MDW</div>-->
								<!--<div class= "label-label-primary" id="NW" style="font-size: 2.4em;cursor: pointer" draggable="true">NW</div>-->
								<!--&lt;!&ndash;<div class= "label-label-primary" id="NE" style="font-size: 2.4em;cursor: pointer" draggable="true">NE</div>&ndash;&gt;-->
								<!--<div class="label-label-primary " id="P" style="font-size: 2.4em;cursor: pointer" draggable="true">P</div>-->
								<!--<div class="label-label-primary " id="L" style="font-size: 2.4em;cursor: pointer" draggable="true">L</div>-->
								<!--<div class="label-label-primary " id="O" style="font-size: 2.4em;cursor: pointer" draggable="true">O</div>-->
							</div>
							<div class="btn btn-default btn-xs " style="cursor: pointer ;display: block;margin-top: 10px">关闭</div>
						</div>

						<div id="label-explanation-panel-two" style="display: none">
							<div style="display: inline-block">
						<!--<div class="label-label-primary " id="FT" style="font-size: 2.4em;cursor: pointer" draggable="true">FT</div>-->
								<!--<div class="label-label-primary " id="Dat" style="font-size: 2.4em;cursor: pointer" draggable="true">Dat</div>-->
								<!--<div class="label-label-primary " id="Dur" style="font-size: 2.4em;cursor: pointer" draggable="true">Dur</div>-->
								<!--<div class="label-label-primary " id="Tim" style="font-size: 2.4em;cursor: pointer" draggable="true">Tim</div>-->
								<!--<div class="label-label-primary " id="Per" style="font-size: 2.4em;cursor: pointer" draggable="true">Per</div>-->
								<!--<div class="label-label-primary " id="Mon" style="font-size: 2.4em;cursor: pointer" draggable="true">Mon</div>-->
								<!--<div class="label-label-primary " id="Number" style="font-size: 2.4em;cursor: pointer" draggable="true">Number</div>-->
								<!--<div class="label-label-primary " id="Measure" style="font-size: 2.4em;cursor: pointer" draggable="true">Measure</div>-->
								<!--<div class="label-label-primary " id="Ema" style="font-size: 2.4em;cursor: pointer" draggable="true">Ema</div>-->
								<!--<div class="label-label-primary " id="Pho" style="font-size: 2.4em;cursor: pointer" draggable="true">Pho</div>-->
								<!--<div class="label-label-primary " id="www" style="font-size: 2.4em;cursor: pointer" draggable="true">www</div>-->
								<div class="btn btn-default btn-xs " style="cursor: pointer ;display: block;margin-top: 10px">关闭</div>
							</div>
						</div>
					</div>
					<button type="button" class="btn btn-primary btn-lg  width-control-200" style="margin-left: 187px" id="sendRlt">发送</button>
					<button type="button" class="btn btn-primary btn-lg  width-control-200" style="display:none;margin-left: 187px" id="send-check-rlt">检查结果发送</button>

				</div>

			</div>


		</div>
{% endblock %}



{% block body_script_block %}

	<script type="text/javascript" src="{% static 'js/pt_draw_sent_view_tag.js' %}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $.ajax({
                type: "POST",
                url: "{% url 'ajax_for_tokens_list' %}",
                data: {'username': '{{ user.username }}'},
                success: function(tokens_list) {
                returnAnalysisRst = tokens_list;

                console.log(returnAnalysisRst)

                if (returnAnalysisRst == false)
                    alert("没数据了");
                else
                    initdom(DRAW_PARENT_ID, returnAnalysisRst);
            },
        });
        });

        $(".label-label-primary").on("dragstart", function (event) {
            event.originalEvent.dataTransfer.setData("Text", event.target.id);
        });

        //发送按钮
        $("#sendRlt").on('click', function (event) {
            var result = [];
            var j = 0;
            //遍历每个句子
            $(".well-well-sm").each(function () {
                var i = 0;
                var sendSen = [];
                var tagged_if=0
                //遍历每个句子的每个词块
                $(this).children().each(function () {

                    if (this.firstChild.textContent != "") {
                        var temp = {};
                        temp.token = this.firstChild.textContent;
                        temp.pos = this.lastChild.textContent;
                        if (temp.pos!='LW') {
                        	tagged_if++;
                        }
                        i++;
                        sendSen.push(temp);
                    }
                });
                var compSen = {};
                compSen.id = returnAnalysisRst[j].id;
                compSen.tagged = sendSen;
				if (tagged_if!=0) {
					compSen.tagged_if=1;
				}
				else {
					compSen.tagged_if=0;
				}
                j++;
                result.push(compSen);
            });
            var taggedResult = {};
            taggedResult.username = '{{ user.username }}';
{#            taggedResult.method = "commitseg";#}
            taggedResult.sents = result;
            console.log(taggedResult);

            taggedResult = JSON.stringify(taggedResult)

            $.ajax({
                type: "POST",
                url: "{% url 'ajax_for_save_tagged_tokens' %}",
                data: {'taggedResult': taggedResult,'tag_model_name': tag_type},
                success: function(tokens_list) {
                returnAnalysisRst = tokens_list;

                console.log(returnAnalysisRst)

                if (returnAnalysisRst == false)
                    alert("没数据了");
                else
                    initdom(DRAW_PARENT_ID, returnAnalysisRst);
            },
            });
        });

            <!--$.ajax({-->
                <!--url: window.location.pathname,-->
                <!--type: "post",-->
                <!--dataType: "text",-->
                <!--contentType: "application/json;charset=utf-8",-->
                <!--crossDomain: true,-->
                <!--data: JSON.stringify(taggedResult),-->
                <!--timeout: 10000,#}-->
                <!--success: function (returnVal) {-->
                    <!--returnObj = JSON.parse(returnVal);-->
                    <!--returnAnalysisRst = returnObj.result;-->
                    <!--if (returnAnalysisRst.length == 0) {-->
                        <!--alert("没数据了");-->
                        <!--var parentContainer = document.getElementById("analysisContent");-->
                        <!--while (parentContainer.childNodes.length > 0)-->
                            <!--parentContainer.removeChild(parentContainer.lastChild);-->
                    <!--}-->
                    <!--else {-->
                        <!--initdom(DRAW_PARENT_ID, returnAnalysisRst);-->
                        <!--$('body').scrollTop(0);-->
                    <!--}-->
                <!--}-->
            <!--});-->

        <!--});-->

        //点击修改词性
        $("#label-explanation-response-btn").on("click", function () {
            console.log("don't touch me")
            $("#label-explanation-panel-one").show();
            $("#label-explanation-panel-two").show();
            $("#label-explanation-response-btn").hide();

        });
        //关闭按钮
        $(".btn.btn-default.btn-xs").on("click", function () {
            $("#label-explanation-panel-one").hide();
            $("#label-explanation-panel-two").hide();
            $("#label-explanation-response-btn").show();

        });
    </script>
{% endblock %}

</html>